<div class="biggest" *ngIf="posts && posts[index]" (click)="next()">
  <ng-container [ngSwitch]="posts[index].type">
    <video controls autoplay class="biggest" *ngSwitchCase="'video'" [attr.src]="getVideo(posts[index].videos[posts[index].videos.length - 1].embedCode)" (load)="setLoading(false)"></video>
    <img class="biggest" *ngSwitchCase="'photo'" src="{{ posts[index].photos[photo].originalSize.url }}" alt="" (load)="setLoading(false)">
    <div *ngSwitchCase="'text'">
      <h2>{{ posts[index].title }}</h2>
      <div [innerHTML]="posts[index].body"></div>
    </div>
    <div *ngSwitchDefault>Tipo: {{ posts[index].type }}</div>
  </ng-container>
</div>
<ngx-loading [show]="loading && posts[index].type !== 'video' && posts[index].type !== 'text'" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>